* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  /* Color */

  --red-text: #ce9797;
  --alert-text: #f96262;

  --neutral-text: #413a3a;

  /* Gradients */

  --background-page: linear-gradient(
    135deg,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 100%, 98%) 100%
  );

  --background-btn: linear-gradient(
    135deg,
    hsl(0, 80%, 86%) 0%,
    hsl(0, 74%, 74%) 100%
  );

  /* Weight */
  --light: 300;
  --bold: 600;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  height: 100vh;
  background: var(--background-page);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 375px;
}

/* HEADER */

.header {
  width: 43%;
  margin: 0.8rem 1.8rem;
  padding: 1.1rem 0;
}

.logo {
  width: 70%;
}

/* IMAGE */

.mobile-img {
  width: 100%;
}

.desktop-img {
  display: none;
}

/* CONTENT */

.content {
  margin: 3rem 2.5rem;
}

.main_title {
  text-align: center;
  margin-bottom: 1.3rem;
}

.main_title p {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: var(--bold);
  letter-spacing: 0.6rem;
  color: var(--neutral-text);
}

.main_title p:first-child {
  font-weight: var(--light);
  color: var(--red-text);
}

.content_text {
  text-align: center;
}

.content_text p {
  font-size: 0.88rem;
  color: var(--red-text);
}

.form {
  margin: auto;
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  padding: 0.9rem 1.4rem;
  font-size: 0.75rem;
  border-radius: 3rem;
  border: 1px solid var(--red-text);
}

input:focus:valid {
  outline-width: 1px;
  outline-color: var(--red-text);
}

input:focus:invalid {
  outline-color: var(--alert-text);
}

input[type="email"] {
  opacity: 0.5;
}

input::placeholder {
  color: var(--red-text);
}

.form-btn {
  position: relative;
  z-index: 2;
  margin-left: -3.53rem;
}

.btn {
  width: 4.5rem;
  opacity: 1;
  padding: 0.61rem;
  border-radius: 2rem;
  border: none;
  background: var(--background-btn);
  cursor: pointer;
  box-shadow: 0 2px 15px var(--red-text);
}

.btn:hover {
  background: #fcbebe;
}

.btn-img {
  margin: auto;
}

/* ERROR */

.error {
  visibility: hidden;
  position: relative;
  z-index: 1;
  margin-left: -7rem;
}

.error-text {
  visibility: hidden;
  margin-top: 1rem;
  margin-left: 1rem;
}

.error-text p {
  color: var(--alert-text);
  font-size: 0.7rem;
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 960px) {
  .container {
    max-width: 1440px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 57% 43%;
    grid-template-rows: 0.2fr 1.8fr;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
  }

  .header {
    grid-area: 1 / 1 / 2 / 2;
  }

  .content {
    grid-area: 2 / 1 / 3 / 2;
  }

  .img_container {
    grid-area: 1 / 2 / 3 / 3;
  }

  .logo {
    width: 8rem;
  }

  .header,
  .content {
    margin-left: 20%;
    margin-right: 30%;
  }

  .mobile-img {
    display: none;
  }

  .desktop-img {
    display: block;
    height: 100%;
  }

  .main_title {
    text-align: left;
    margin-top: 2.5rem;
  }

  .main_title p {
    font-size: 3.5rem;
    margin-bottom: 0.2rem;
    letter-spacing: 0.8rem;
  }

  .content_text {
    text-align: left;
    margin-top: 1.9rem;
  }

  .content_text p {
    font-size: 1rem;
    line-height: 170%;
  }
}
